---
layout: default
use:
    - pages_section
---

<h1>Training in the Open</h1>

<p>This web site serves as a collection of ideas which need to be captured, and perhaps which should be shared. You can read more <a href="/about">about the inception</a> of the site.</p>

<p>Reader bewarned. This site is a living set of notes and will be updated to reflect current attempts at best practices instead of
maintaining an archive of thought processes. In other words:
the content of a URL may not be permanent! The content is,
however, captured in a [Git
repository](https://github.com/emmajane/tito). If you wish to go back
in time, the content is still available.</p>

<p>In addition to the thoughts below, there is also a growing archive of <a href="/activity">useful classroom activities</a> which may prove useful if you are teaching in a traditional classrom.</p>

{% for sections,pages in data.pages_section %}
<h2>{{ sections|title }}</h2>
<ul>
{% for page in pages %}
  <li><a href="{{ site.url }}{{ page.url }}">{{ page.title }}</a></li>
{% endfor %}
</ul>
{% endfor %}
